black==25.1.0
docker==7.1.0
fastapi==0.116.0
hf-xet==1.1.5
mypy==1.16.1
pandas==2.3.0
pip==25.1.1
pre_commit==4.2.0
torch==2.7.1
transformers==4.53.1
types-requests==2.32.4.20250611
uvicorn==0.35.0
weaviate==0.1.2
weaviate-client==4.15.4
